@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 15px;
  background: hsla(0,0%,100%,0.75);
  max-width: 1440px;
}

h1{
  font-family: "Big Shoulders Display",sans-serif;
  font-size: 3.5em;
  color:hsla(0,0%,100%);
  text-transform: uppercase;
}

button, .text-box{
  font-family: "Lexend Deca", sans-serif;
}

h1,
svg,
div, span{
  background: transparent;
}

span{
  color: hsl(0,0%,100%,0.75)
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  background: transparent;
}

.mainBox{
  border-radius: 10px;
  display:flex;
  width: 90%;
  height: 600px;

}

.content{
  padding: 5em 5em 5em 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 33.33333%;

}
.text-box{
  display: flex;
  align-items: flex-start;
  height: 40%; 
}

.text-box p{
  background: transparent;
  line-height: 2;
  font-weight: 600;
}

.lineBreak{
  font-size:1em;
}

.lineBreak:after{
  content:"\A";
  white-space: pre;
}

.btn-txt{
  background: transparent;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content:nth-child(1){
  background: hsl(31,77%,52%);
  border-radius: 10px 0px 0px 10px;
}

.btn-txt.sedan{
  color: hsl(31,77%,52%);
}

.content:nth-child(2){
  background: hsl(184,100%,22%)
}

.btn-txt.suv{
  color: hsl(184,100%,22%)
}

.content:nth-child(3){
  background: hsl(179,100%,13%);
  border-radius: 0px 10px 10px 0px;
}

.btn-txt.luxury{
  color: hsl(179,100%,13%)
}

.btn{
  background: hsla(0,0%,100%,0.95);
  border-radius: 50px;
  border: none;
  height: 60px;
  width: 200px;
  cursor: pointer;
  transition: 300ms;
}

.btn:hover{
  border: solid 2px white;
  background: transparent;
}

.btn:hover .btn-txt{
  color: white;
}

  @media screen and (max-width: 900px){
    *{
      height: 1600px;
    }

    .wrapper{
      padding: 2em;
      justify-content: center;
      align-items: flex-start;
    }

    .mainBox{
      flex-direction: column;
      align-items: center;
      width:100%;
    }
    
    h1{
      margin-bottom: 0.5em;

    }
    .content{
      padding: 3em 2em 3em 3.5em;
      width:100%;
      height:80%; 
    }

    .content:nth-child(1){
      border-radius: 10px 10px 0px 0;
    }

    .content:nth-child(3){
      border-radius: 0 0 10px 10px;
    }
    .text-box{
      margin-bottom: 2em ;
    }

    .lineBreak:after{
    content:'';
    }
}
